@charset "utf-8";
/* CSS Document */
#content .tt{
	margin-top:25px;
	width:766px;
	height:16px;
	background:url(../images/bc022.jpg);
}
#content .action{
	margin-top:50px;
	text-align:center;
}
#content .tit{
	font-size:32px;
	color:#1A4A8A;
	margin-bottom:20px;
}
#content table{
	text-align:left;;
}
#content tr.shadow{
	background-color:#EFEFEF;
}
#content td{
	font-size:14px;
	font-weight:bold;
	padding:10px;
	padding-left:25px;
}
#content td.ft{
	font-size:12px;
	color:#1A4A8A;
	font-weight:normal;
}
#content ul{
	margin-left:45px;
	margin-top:25px;
}
#content li{
	float:left;
	padding-right:35px;
	padding-bottom:25px;
}
#content .council{
	clear:both;
	margin-left:5px;
}
#content .council img{
}
#content .member{
	margin-left:5px;
	margin-top:10px;
}
#content .member div{
	clear:both;
}
#content .member ul{
	clear:both;
	margin-top:0px;
	padding-top:10px;
	margin-left:155px;
}
#content .member li{
	float:left;
	padding-right:7px;
	padding-bottom:20px;
}
#content .photos{
	clear:both;
}
#content .photos ul{
	clear:both;
	position:relative;
	top:0px;
	margin-top:0px;
	left:0px;
	margin-left:15px;
}
#content .photos li{
	float:left;
	padding-right:12px;
	padding-bottom:10px;
}
#content .img{
	clear:both;
}
#content .img ul{
	clear:both;
	position:relative;
	top:0px;
	margin-top:0px;
	left:0px;
	margin-left:30px;
}
#content .img li{
	float:left;
	padding-right:38px;
	padding-bottom:20px;
}
.action a:link,.action a:visited{
	color:#000;
	text-decoration:none;
}
.action a:hover{
	text-decoration:underline;
}

.paragraph{
	margin-top:10px;
	margin-left:20px;
	margin-right:20px;
	line-height:20px;
	font-size:14px;
	text-indent:2em;
	text-align:justify;
	text-justify:newspaper;
}

.image-width {
	width: 30em;
}