@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	border:0px;
	list-style:none;
}
body{
	height:100%;
	background:url(../images/bc001.jpg);
	border-top:8px solid #194987;
	font-family:"宋体";
	font-size:12px;
}
#cover{
	background:url(../images/bc002.jpg) top repeat-x;
	text-align:center;
}
#container{
	margin:0 auto;
	padding-top:8px;
	width:1000px;
	background-color:#FFF;
	text-align:left;
}
#banner{
	margin-left:8px;
	width:1084px;
	height:170px;
	background:url(../images/bc005.jpg) no-repeat;
}
#navigation{
	position:relative;
	top:132px;
	left:8px;
	padding-top:8px;
	height:20px;
	width:970px;
	background-color:#BF1017;
}
#navigation ul{
	padding-left:25px;
	font-size:14px;
	color:#FFF;
}
#navigation li{
	position:relative;
	float:left;
	margin-right:1em;
}
#navigation a:link,#navigation a:visited{
	color:#FFF;
	text-decoration:none;
}
#navigation a:hover{
	text-decoration:underline;
}
#navigation li.selected a:link,#navigation li.selected a:visited{
	color:#000;
	font-weight:bold;
}
#midd{
	position:relative;
	float:left;
	margin-top:8px;
	background:url(../images/bc003.jpg) left repeat-y;
}
#info{
	position:relative;
	float:left;
	width:217px;
	font-size:14px;
}
#director{
	margin-left:20px;
	margin-right:20px;
	margin-top:30px;
}
#info div.tt{
	font-weight:bold;
	line-height:18px;
	padding-bottom:5px;
	border-bottom:1px dashed #ccc;
}
#director ul{
	color:#666;
	margin-top:15px;
}
#director li{
	margin-bottom:15px;
}
#director span{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
}
#director div.more{
	font-size:12px;
}
#director a:link,#director a:visited{
	color:#666;
	text-decoration:none;
}
#director a:hover{
	color:#333;
	text-decoration:underline;
}
#info img{
	margin-left:12px;
	margin-top:25px;
	margin-bottom:30px;
}
#connection{
	margin-left:15px;
	margin-right:20px;
}
#connection div.tt{
	padding-left:13px;
	padding-bottom:10px;
	background:url(../images/bc002.gif) 0px 5px no-repeat;
}
#connection div.mess{
	padding-top:10px;
	color:#666;
	line-height:18px;
	font-family:Tahoma, Geneva, sans-serif;
}
#connection p{
	margin-top:10px;
}
#content{
	position:relative;
	float:left;
	width:772px;
	left:8px;
	padding-bottom:100px;
}
#footer{
	clear:both;
	position:relative;
	height:71px;
	color:#FFF;
	background-color:#4A80C6;
}
#footer div.left{
	float:left;
	margin-left:30px;
	margin-top:20px;
	font-size:14px;
	line-height:16px;
}
#footer div.right{
	float:left;
	margin-top:40px;
	margin-left:340px;
}
#footer span{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:lighter;
	font-size:12px;
}