@charset "utf-8";
/* CSS Document */
#content .tt{
	margin-top:25px;
	width:767px;
	height:16px;
	background:url(../images/bc019.jpg);
}
#content .passage{
	margin:20px;
	font-size:14px;
}
#content .tit{
	width:710px;
	height:20px;
	font-size:16px;
	color:#FFF;
	font-weight:bolder;
	margin-bottom:10px;
	padding-top:7px;
	padding-bottom:3px;
	padding-left:10px;
	background-color:#4A80C6;
}
#content .text{
	padding-left:10px;
	padding-right:10px;
	line-height:26px;
}
#content span{
	font-family:Tahoma, Geneva, sans-serif;
}
#content .title{
	clear:both;
	font-weight:bolder;
	color:#333;
	margin-top:30px;
}
#content .list{
	clear:both;
}
#content .list b{
	float:left;
}
#content .list ul{
	float:left;
	width:620px;
}
#content .list li{
	clear:both;
}
#content .list span{
	float:left;
}
#content .list .line{
	float:left;
	width:580px;
}