@charset "utf-8";
/* CSS Document */

#content{
	width:780px;
	left:0px;
	padding-bottom:130px;
}
#content .tt{
	margin-left:8px;
	margin-top:25px;
	width:766px;
	height:16px;
	background:url(../images/bc042.jpg);
}
#content .contact{
	margin-top:80px;
}
#content .contact img{
	float:left;
}
#content .context{
	float:left;
	width:431px;
	margin-left:30px;
	background:url(../images/bc044.jpg) top no-repeat #EFEFEF;
}
#content .tit{
	margin-top:45px;
	margin-left:40px;
	margin-right:40px;
	font-size:32px;
	color:#1A4A8A;
	padding-bottom:14px;
	border-bottom:1px solid #1A4A8A;
}
#content ul{
	margin-top:30px;
	margin-left:45px;
	margin-bottom:30px;
	margin-right:40px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	color:#666;
	line-height:26px;
}
#content li{
	clear:both;
}
#content b{
	float:left;
}
#content span{
	float:left;
}
#content .ft{
	height:46px;
	background:url(../images/bc045.jpg) bottom no-repeat #EFEFEF;
}