@charset "utf-8";
/* CSS Document */
#content{
	padding-bottom:120px;
}
#content .tt{
	margin-top:25px;
	width:766px;
	height:15px;
	background:url(../images/bc020.jpg);
}
#content .council{
	margin-top:50px;
	text-align:center;
}
#content .tit{
	font-size:32px;
	color:#1A4A8A;
	font-weight:bold;
	line-height:40px;
}
#content .council table{
	margin-top:20px;
	border:4px solid #B6C5D8;
	border-right:none;
	text-align:left;
}
#content .council tr.shadow{
	background-color:#EFEFEF;
}
#content .council td{
	font-size:14px;
	font-weight:bold;
	padding:12px;
	padding-left:35px;
	border-right:4px solid #B6C5D8;
}
#content .council span{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:lighter;
}
