@charset "utf-8";
/* CSS Document */
#news{
	margin-left:20px;
	margin-right:20px;
	margin-top:30px;
	font-size:12px;
	line-height:12px;
}
#news div.tt{
	font-size:14px;
	padding-left:13px;
	padding-bottom:10px;
	background:url(../images/bc001.gif) 0px 5px no-repeat;
}
#news ul{
	margin-top:2px;
	text-align:justify;
	text-justify:newspaper;
}
#news li{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px dashed #ccc;
}
#news div.more{
	float:right;
	margin-top:10px;
	padding-right:15px;
}
#news a:link,#news a:visited{
	color:#000;
	text-decoration:none;
}
#news a:hover{
	text-decoration:underline;
}
#content{
	left:10px;
}
#context{
	margin-top:30px;
	margin-left:15px;
	width:755px;
}
#introduction{
	position:relative;
	float:left;
	margin-right:35px;
	width:355px;
}
#introduction div.tit{
	height:18px;
	background:url(../images/bc004.jpg) no-repeat;
}
#introduction div.paragraph{
	margin-top:25px;
	padding-right:10px;
	font-size:14px;
	line-height:24px;
	text-indent:2em;
	text-align:justify;
	text-justify:inter-ideograph;
}
#introduction div.more{
	float:right;
	width:60px;
	height:22px;
	margin-top:20px;
	margin-right:10px;
	background-color:#4A80C6;
}
#introduction a{
	display:block;
	font-weight:bold;
	margin-top:5px;
	margin-left:10px;
}
#introduction a:link,#introduction a:visited{
	color:#FFF;
	text-decoration:none;
}
#introduction a:hover{
	text-decoration:underline;
}
#council{
	position:relative;
	float:left;
	width:355px;
}
#council div.tit{
	height:18px;
	background:url(../images/bc007.jpg);
}
#council table{
	margin-top:5px;
}
#council tr.shadow{
	background-color:#EFEFEF;
}
#council td{
	height:28px;
	padding-left:15px;
	font-size:14px;
}
#council span{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
}
#photoes{
	clear:both;
	padding-top:40px;
	margin-left:15px;
	width:755px;
}
#photoes div.tit{
	position:relative;
	width:743px;
	height:18px;
	background:url(../images/bc008.jpg);
}
#photoes ul{
	position:relative;
	margin-top:40px;
	margin-left:25px;
	width:730px;
}
#photoes li{
	float:left;
	padding-right:40px;
	padding-bottom:25px;
}