@charset "utf-8";
/* CSS Document */
#content .tt{
	width:767px;
	height:15px;
	margin-top:25px;
	background:url(../images/bc006.jpg);
}
#content .paragraph{
	font-size:14px;
	text-indent:2em;
	line-height:26px;
	text-align:justify;
	text-justify:inter-ideograph;
	margin:30px 40px;
}