@charset "utf-8";
/* CSS Document */
#content .tt{
	margin-top:25px;
	width:766px;
	height:15px;
	background:url(../images/bc021.jpg);
}
#content .memberSchool{
	margin-top:50px;
	text-align:center;
}
#content .tit{
	font-size:32px;
	color:#1A4A8A;
	margin-bottom:40px;
}
#content table{
	text-align:left;
	font-size:14px;
}
#content tr.shadow{
	background-color:#EFEFEF;
}
#content td{
	padding:10px;
	padding-left:30px;
}
