@charset "utf-8";
/* CSS Document */
#content .tt{
	margin-top:25px;
	margin-bottom:50px;
	width:766px;
	height:15px;
	background:url(../images/bc041.jpg);
}
#content table{
	text-align:left;
	font-size:14px;
}
#content tr.shadow{
	background-color:#EFEFEF;
}
#content td{
	padding:12px;
	padding-left:25px;
}
#content td.ft{
	text-align:right;
	padding-right:60px;
	font-size:12px;
	font-weight:bold;
}
#content a:link,#content a:visited{
	color:#000;
	text-decoration:none;
}
#content a:hover{
	text-decoration:underline;
}
#content .news{
	text-align:left;
	padding:10px;
}
h6{
	font-weight:400;
}
.paragraph{
	margin-top:10px;
	margin-left:20px;
	margin-right:20px;
	line-height:20px;
	font-size:14px;
	text-indent:2em;
	text-align:justify;
	text-justify:newspaper;
}